body {

  margin: 0;
  padding: 0;
  background-color: #B1EAE8;
}

#map {

  width: auto;
  height: 98vh;

}

#top {
  background-color: #BCE6BD;
  padding: 0.01em;
  margin-bottom:0.75em

}
 p{
   font-size:20px
 }
